@use 'vars' as *;

.navbar {
  background-color: $main-red;
  position: fixed;
  width: 100%;
  z-index: 1;
  &--menu {
    display: flex;
    gap: $distance-1;
    padding: $distance-1;
    &--item {
      &-left {
        margin-right: auto;
      }
    }
  }
}
