$test: 30px;
$distance-1: 1em;

$color-coral: #F96167;
$color-yellow: #FCE77D;
$color-royal_blue: #234E70;
$color-white: #FCF6F5FF;

$text--color-dark: rgb(40, 35, 35);
$text--color-light: rgb(181, 176, 176);
$background--color-dark: rgb(48, 71, 104);
$background--color-semidark: rgb(122, 154, 197);